@import url("https://fonts.googleapis.com/css2?family=Carattere&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playball&family=Raleway:wght@200&family=Roboto+Slab:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Maps&family=Sevillana&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  color-scheme: light dark;
color: aliceblue;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.overlay {
  background-image: url("./assets/layout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
